@mixin flex 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin allbtn 
{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #D2042D;
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
    transition:all .2s linear;
    padding: 0.1rem 0.5rem;
    &:hover 
    {
        background-color: #00b894; 
    }
    a
    {
        color: white;
    }
}
@mixin subheader0
{
    font-size: 5.5rem;
    letter-spacing:0.4rem;
    font-family: 'Fredoka One', cursive;font-weight: bolder;
}
@mixin subheader1 
{
    font-size: 4.5rem;
    letter-spacing:0.4rem;
    font-family: 'Fredoka One', cursive;font-weight: bolder;
}
@mixin subheader2 
{
    font-size: 3.5rem;
    letter-spacing:0.4rem;
    font-family: 'Fredoka One', cursive;font-weight: bolder;
}
@mixin subheader3 
{
    font-size: 2.5rem;
    letter-spacing:0.4rem;
    font-family: 'Fredoka One', cursive;font-weight: bolder;
}