@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); 

$main : #D2042D;
$primary:#fff200;
$secondary:#00b894; 
$btn-color:#4cd137;

$small : 1.5rem  'Open Sans', sans-serif;
$smallbold : bold 1.5rem  'Open Sans', sans-serif;

$big : 2rem 'Open Sans', sans-serif;
$bigbold : bold 2rem  'Open Sans', sans-serif;

$large : 2.5rem 'Open Sans', sans-serif;
$largebold : bold 2.5rem  'Open Sans', sans-serif;

$larger : 3rem 'Open Sans', sans-serif;
$largerbold : bold 3rem  'Open Sans', sans-serif;

$extralg : 3.5rem 'Open Sans', sans-serif;
$extralgbold : bold 3.5rem 'Open Sans', sans-serif;

$moderatetext : 1.7rem 'Open Sans', sans-serif;
$moderatetextbold : bold 1.7rem 'Open Sans', sans-serif;
