@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}

footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font: 2rem "Open Sans", sans-serif;
  color: white;
  padding: 2rem;
  margin-bottom: 3.7rem;
}

.copyright {
  text-align: center;
}

.contact h2 {
  text-align: center;
}

footer p {
  text-align: center;
}

footer .contact p:nth-child(1) {
  font-size: 3.5rem;
  letter-spacing: 0.4rem;
  font-family: 'Fredoka One', cursive;
  font-weight: bolder;
  margin-bottom: 3.7rem;
  text-align: center;
}

.footer-up {
  padding: 3rem;
  margin-top: 10rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff512f), to(#dd2476));
  background-image: linear-gradient(90deg, #ff512f, #dd2476);
  width: 100%;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bottomnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottomnav li {
  list-style-type: none;
}

.bottomnav a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.bottomnav ul li a:hover {
  font-weight: 300;
  color: white;
}

.footer-down {
  position: absolute;
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  color: white;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: black;
  font: 2rem "Open Sans", sans-serif;
}

@media screen and (max-width: 548px) {
  .footer-up {
    height: auto;
  }
}

#footer {
  width: 100%;
  height: 10rem;
  padding: 0;
  margin: 0;
  position: relative;
}

.footer-down a {
  color: black;
  text-decoration: none;
  font: 2rem "Open Sans", sans-serif;
}

.footer-down a:hover {
  color: #D2042D;
  -webkit-transition: .4s smooth;
  transition: .4s smooth;
}

.footer-logo {
  height: 4rem;
  width: 4rem;
}

.loader-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-wrapper {
  position: fixed;
  right: 0.5rem;
  bottom: 1.5rem;
  z-index: 999;
}

#whatsapp-img {
  height: 6rem;
  width: 6rem;
  border-radius: 90%;
  -webkit-filter: drop-shadow(3px 3px 3px gray);
          filter: drop-shadow(3px 3px 3px gray);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  z-index: 999;
}

#whatsapp-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(3px 3px 3px black);
          filter: drop-shadow(3px 3px 3px black);
}

.bottomnav1 {
  margin-top: -2rem;
  display: none;
}

.bottomnav1 a {
  font: 2rem "Open Sans", sans-serif;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 534px) {
  .bottomnav {
    display: none;
  }
  .bottomnav1 {
    display: block;
  }
  .footer-up {
    padding: 1.5rem;
  }
}

.contact p:nth-child(2) {
  display: none;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-social-links {
  margin-left: 1rem;
}

.all-social-links a:hover {
  -webkit-filter: drop-shadow(2px 2px 2px gray);
          filter: drop-shadow(2px 2px 2px gray);
}

.top-scroll {
  margin-left: 13rem;
}

.top-scroll a {
  z-index: -1;
}

@media screen and (max-width: 386px) {
  .bottomnav1 p {
    text-align: center;
  }
  .contact p:nth-child(1) {
    display: none;
  }
  .contact p:nth-child(2) {
    display: block;
    width: 100%;
    font: bold 3.5rem "Open Sans", sans-serif;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 460px) {
  .social-media {
    margin-top: 1.5rem;
  }
  .top-scroll {
    margin-left: 0rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .bottomnav1 {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 335px) {
  .footer-down {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 410px) {
  .bottomnav1 {
    padding: 0.1rem 3.5rem;
  }
}

@media screen and (max-width: 332px) {
  .bottomnav1 {
    padding: 0.5rem 1rem;
  }
}
/*# sourceMappingURL=footer.css.map */