@import "variables";
@import "allmixin";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 10px; 
}
footer .contact
{
  @include flex();
  flex-direction: column;
  font:$big;
  color:white;
  padding:2rem;
  margin-bottom: 3.7rem;
}
.copyright 
{
    text-align: center;
}
.contact h2
{
    text-align: center;
}
footer p 
{
    text-align: center;
}
footer .contact p:nth-child(1) 
{
    @include subheader2();
    margin-bottom: 3.7rem;
    text-align: center;
}
.footer-up 
{
  padding: 3rem;
  margin-top: 10rem;
  flex-wrap: wrap;
  background-image: linear-gradient(90deg,#ff512f,#dd2476);
  width:100%;
  height: 25rem;
  @include flex;
  justify-content: space-evenly;
} 
.bottomnav 
{
  @include flex();
  flex-direction: column;
  li 
  {
      list-style-type: none;
  }
  a 
  {
      color: white;
      font-size:2rem;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
  }
}
.bottomnav ul li a:hover 
{
  font-weight: 300;
  color: white;
}
.footer-down 
{
    position: absolute;
    padding:1rem 4rem;
    @include flex();
    flex-wrap: wrap;
    width:100%;
    height: auto;
    color:white;
    justify-content: space-evenly;
    color: black;
    font:$big;
}
@media screen and (max-width:548px) {
    .footer-up  
    {
        height:auto;
    }
}
#footer 
{
    width: 100%;
    height:10rem;
    padding: 0;
    margin: 0;
    position: relative;
}
.footer-down a 
{
    color:black;
    text-decoration: none;
    font:$big;
}
.footer-down a:hover 
{
    color:$main;
    transition: .4s smooth;
}
.footer-logo 
{
    height:4rem;
    width: 4rem;
}
.loader-wrapper 
{
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    background-color: white;
    @include flex();
}
.chat-wrapper 
{
    position: fixed;
    right:0.5rem;
    bottom:1.5rem;
    z-index: 999;
}
#whatsapp-img 
{
    height:6rem;
    width:6rem;
    border-radius: 90%;
    filter: drop-shadow(3px 3px 3px gray);
    transition: all .2s linear;
    z-index: 999;
}
#whatsapp-img:hover 
{
    transform: scale(1.1);
    filter: drop-shadow(3px 3px 3px black);
}
#whatsapp-img:focus
{
    outline: none !important;
}
.bottomnav1 
{
    a 
    {
        font:$big;
        color:#fff;
        text-decoration: none;
    }
    margin-top: -2rem;
    display: none;
}
@media screen and (max-width:534px){
    .bottomnav 
    {
        display: none;
    }
    .bottomnav1 
    {
        display: block;
    }
    .footer-up  
    {
        padding: 1.5rem;
    }
}
.contact p:nth-child(2)
{
    display: none;
}
.social-media 
{
    @include flex();  
}
.all-social-links 
{
    margin-left: 1rem;
} 
.all-social-links a
{
    &:hover 
    {
        filter:drop-shadow(2px 2px 2px gray);
    }
}
.top-scroll 
{
    margin-left:13rem;
    a 
    {
        z-index: -1;
    }
}
@media screen and (max-width:386px){
    .bottomnav1 p 
    {
        text-align: center;
    }
    .contact p:nth-child(1)
    {
        display: none;
    }
    .contact p:nth-child(2)
    {
        display: block;
        width: 100%;
        font:$extralgbold;
        font-family:'Fredoka One', cursive;
        margin-bottom: 3rem;
    }
}
@media screen and (max-width:460px) {
    .social-media 
    {
        margin-top: 1.5rem;
    }
    .top-scroll 
    {
        margin-left:0rem;
        margin-left: 1rem;
    }
}
@media screen and (max-width:400px) {
    .bottomnav1  
    {
        padding:0.5rem 1rem;
    }
}
@media screen and (max-width:335px) {
    .footer-down
    {
        padding:0.5rem 1rem;
    }
}
@media screen and (max-width:410px) {
    .bottomnav1 
    {
        padding: 0.1rem 3.5rem;
    }
}
@media screen and (max-width:332px) {
    .bottomnav1 
    {
        padding:0.5rem 1rem;
    }
}

